Dataset from:  
> Land Transport Authority. (2019). LTA MRT Station Exit (GEOJSON) (2025) [Dataset]. data.gov.sg. Retrieved December 3, 2025 from https://data.gov.sg/datasets/d_b39d3a0871985372d7e1637193335da5/view

#### 1. Creates the SQL script

```sql
CREATE TABLE public.mrt_exits (
    objectid INTEGER,
    station_name TEXT,
    exit_code TEXT,
    inc_crc TEXT,
    updated_at TEXT,
    lon DOUBLE PRECISION,
    lat DOUBLE PRECISION,
    geom_4326 geometry(Point, 4326),
    geom_3414 geometry(Point, 3414)
);
```

#### 2. Load the GeoJSON

In [1]:
import json
import pandas as pd
from sqlalchemy import create_engine, text

# Load GeoJSON file
geojson_path = "data/LTAMRTStationExitGEOJSON.geojson"
with open(geojson_path, "r") as f:
    gj = json.load(f)

# Convert GeoJSON features to DataFrame rows
rows = []
for feature in gj["features"]:
    props = feature["properties"]
    lon, lat = feature["geometry"]["coordinates"]  # GeoJSON = lon, lat

    rows.append({
        "objectid": props.get("OBJECTID"),
        "station_name": props.get("STATION_NA"),
        "exit_code": props.get("EXIT_CODE"),
        "inc_crc": props.get("INC_CRC"),
        "updated_at": props.get("FMEL_UPD_D"),
        "lon": float(lon),
        "lat": float(lat)
    })

df = pd.DataFrame(rows)
df.head()

,objectid,station_name,exit_code,inc_crc,updated_at,lon,lat
0,14641,JELAPANG LRT STATION,Exit A,45CDB0D9BDC73079,20231019120510,103.764677,1.386833
1,14642,SEGAR LRT STATION,Exit A,54BFE6EB924CBA6F,20231019120510,103.769410,1.387812
2,14643,FAJAR LRT STATION,Exit A,A324402CF624723A,20231019120510,103.770676,1.384465
3,14644,BANGKIT LRT STATION,Exit A,B7DF61CC7C6C3B13,20231019120510,103.772591,1.379853
4,14645,PENDING LRT STATION,Exit A,17E89960BD47612A,20231019120510,103.771328,1.376297

#### 3. Insert into Postgres

In [2]:
from sqlalchemy import create_engine

# DB connection
engine = create_engine("postgresql://postgres:postgres@postgres-postgresql.postgres:5432/postgres")

with engine.begin() as conn:
    for _, row in df.iterrows():
        conn.execute(text("""
            INSERT INTO public.mrt_exits (
                objectid, station_name, exit_code, inc_crc, updated_at,
                lon, lat,
                geom_4326,
                geom_3414
            )
            VALUES (
                :objectid, :station_name, :exit_code, :inc_crc, :updated_at,
                :lon, :lat,
                ST_SetSRID(ST_Point(:lon, :lat), 4326),
                ST_Transform(ST_SetSRID(ST_Point(:lon, :lat), 4326), 3414)
            );
        """), row.to_dict())

print("✅ MRT exits ingested with geom_4326 and geom_3414!")

✅ MRT exits ingested with geom_4326 and geom_3414!