Dataset from:  
> Ministry of Education. (2017). General information of schools (2025) [Dataset]. data.gov.sg. Retrieved December 3, 2025 from https://data.gov.sg/datasets/d_688b934f82c1059ed0a6993d2a829089/view

#### 1. Creates the SQL script

```sql
CREATE TABLE public.sg_schools (
    school_name TEXT,
    url_address TEXT,
    address TEXT,
    postal_code TEXT,
    telephone_no TEXT,
    telephone_no_2 TEXT,
    fax_no TEXT,
    fax_no_2 TEXT,
    email_address TEXT,
    mrt_desc TEXT,
    bus_desc TEXT,
    principal_name TEXT,
    first_vp_name TEXT,
    second_vp_name TEXT,
    third_vp_name TEXT,
    fourth_vp_name TEXT,
    fifth_vp_name TEXT,
    sixth_vp_name TEXT,
    dgp_code TEXT,
    zone_code TEXT,
    type_code TEXT,
    nature_code TEXT,
    session_code TEXT,
    mainlevel_code TEXT,
    sap_ind TEXT,
    autonomous_ind TEXT,
    gifted_ind TEXT,
    ip_ind TEXT,
    mothertongue1_code TEXT,
    mothertongue2_code TEXT,
    mothertongue3_code TEXT,
    geom_4326 geometry(Point, 4326),
    geom_3414 geometry(Point, 3414)
);
```

#### 2. Load the CSV

In [1]:
import pandas as pd

csv_path = "data/Generalinformationofschools.csv"

df = pd.read_csv(csv_path)

df.head()

,school_name,url_address,address,postal_code,telephone_no,telephone_no_2,fax_no,fax_no_2,email_address,mrt_desc,...,nature_code,session_code,mainlevel_code,sap_ind,autonomous_ind,gifted_ind,ip_ind,mothertongue1_code,mothertongue2_code,mothertongue3_code
0,ADMIRALTY PRIMARY SCHOOL,https://admiraltypri.moe.edu.sg/,11 WOODLANDS CIRCLE,738907,63620598,na,63627512,na,ADMIRALTY_PS@MOE.EDU.SG,Admiralty Station,...,CO-ED SCHOOL,FULL DAY,PRIMARY,No,No,No,No,CHINESE,MALAY,TAMIL
1,ADMIRALTY SECONDARY SCHOOL,http://www.admiraltysec.moe.edu.sg,31 WOODLANDS CRESCENT,737916,63651733,63654596,63652774,na,Admiralty_SS@moe.edu.sg,ADMIRALTY MRT,...,CO-ED SCHOOL,SINGLE SESSION,SECONDARY (S1-S5),No,No,No,No,CHINESE,MALAY,TAMIL
2,AHMAD IBRAHIM PRIMARY SCHOOL,http://www.ahmadibrahimpri.moe.edu.sg,10 YISHUN STREET 11,768643,67592906,na,67592927,na,AIPS@MOE.EDU.SG,Yishun,...,CO-ED SCHOOL,SINGLE SESSION,PRIMARY,No,No,No,No,CHINESE,MALAY,TAMIL
3,AHMAD IBRAHIM SECONDARY SCHOOL,http://www.ahmadibrahimsec.moe.edu.sg,751 YISHUN AVENUE 7,768928,67585384,na,67557778,na,AISS@MOE.EDU.SG,"CANBERRA MRT, YISHUN MRT",...,CO-ED SCHOOL,SINGLE SESSION,SECONDARY (S1-S5),No,No,No,No,CHINESE,MALAY,TAMIL
4,AI TONG SCHOOL,http://www.aitong.moe.edu.sg,100 Bright Hill Drive,579646,64547672,na,64532726,na,AITONG_SCH@MOE.EDU.SG,Bishan MRT,...,CO-ED SCHOOL,SINGLE SESSION,PRIMARY,Yes,No,No,No,CHINESE,na,na

#### 3. Insert into Postgres

In [2]:
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

# Replace NaN → None for SQL insertion
df = df.replace({np.nan: None})

# DB connection
engine = create_engine("postgresql://postgres:postgres@postgres-postgresql.postgres:5432/postgres")

# Prepare insert statement dynamically from CSV columns
csv_cols = list(df.columns)

sql_cols = ", ".join(csv_cols) + ", geom_4326, geom_3414"
sql_vals = ", ".join([f":{c}" for c in csv_cols]) + ", NULL, NULL"

insert_sql = f"""
    INSERT INTO public.sg_schools ({sql_cols})
    VALUES ({sql_vals});
"""

with engine.begin() as conn:
    for _, row in df.iterrows():
        params = row.to_dict()
        conn.execute(text(insert_sql), params)

print("✔ Successfully inserted all schools (without geolocation).")

✔ Successfully inserted all schools (without geolocation).