Dataset from:  
> National Parks Board. (2023). Parks (2025) [Dataset]. data.gov.sg. Retrieved December 3, 2025 from https://data.gov.sg/datasets/d_0542d48f0991541706b58059381a6eca/view

#### 1. Creates the SQL script

```sql
CREATE TABLE public.sg_parks (
    objectid INTEGER,
    name TEXT,
    inc_crc TEXT,
    updated_at TEXT,
    geom_4326 geometry(Point, 4326),
    geom_3414 geometry(Point, 3414),
    x numeric,
    y numeric
);
```

#### 2. Load the GeoJSON

In [1]:
import json
import pandas as pd
from shapely.geometry import Point
from sqlalchemy import create_engine, text

# Load GeoJSON
with open("data/Parks.geojson", "r") as f:
    geojson = json.load(f)

rows = []

for feature in geojson["features"]:
    props = feature["properties"]
    lon, lat = feature["geometry"]["coordinates"]  # GeoJSON = lon, lat
    geom_point = Point(lon, lat)

    rows.append({
        "objectid": props.get("OBJECTID"),
        "name": props.get("NAME"),
        "inc_crc": props.get("INC_CRC"),
        "updated_at": props.get("FMEL_UPD_D"),
        "x": props.get("X"),
        "y": props.get("Y"),
        "lon": float(lon),
        "lat": float(lat),
        "geom": geom_point
    })

df = pd.DataFrame(rows)
df.head()

,objectid,name,inc_crc,updated_at,x,y,lon,lat,geom
0,63793,JANGGUS GARDEN,1F3DD1EC5E0E9581,20250124001423,28407.88500,48792.867623,103.836984,1.457540,POINT (103.836983849514 1.4575398277048155)
1,63794,PEBBLE GARDEN,930E38BDE1EF7481,20250124001423,27574.28802,48030.463600,103.829493,1.450645,POINT (103.82949312449735 1.4506449229190037)
2,63795,SPRINGSIDE PK,A1B958A0B15ABD55,20250124001423,26585.42505,43057.576566,103.820607,1.405672,POINT (103.82060743654343 1.4056718996982076)
3,63796,CASHEW RD PG,1E1A89687763439E,20250124001423,20360.00100,39179.589473,103.764668,1.370600,POINT (103.76466780670854 1.3705998190999023)
4,63797,CASHEW LINK PG,95CAFC22DFC58B3A,20250124001423,20833.77900,39263.510346,103.768925,1.371359,POINT (103.76892501358684 1.3713588873704436)

#### 3. Insert into Postgres

In [2]:
from sqlalchemy import create_engine

# DB connection
engine = create_engine("postgresql://postgres:postgres@postgres-postgresql.postgres:5432/postgres")

with engine.begin() as conn:
    for _, row in df.iterrows():
        conn.execute(text("""
            INSERT INTO public.sg_parks (
                objectid, name, inc_crc, updated_at,
                geom_4326,
                geom_3414,
                x, y
            )
            VALUES (
                :objectid, :name, :inc_crc, :updated_at,
                ST_SetSRID(ST_Point(:lon, :lat), 4326),
                ST_Transform(ST_SetSRID(ST_Point(:lon, :lat), 4326), 3414),
                :x, :y
            );
        """), row.to_dict())

print("✔ Parks ingested successfully into sg_parks!")

✔ Parks ingested successfully into sg_parks!